<div ng-controller="ConferenceDetailCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>

    <div class="row" ng-init="init()">
        <div class="col-md-9">
            <div class="well well-sm">
                <h2>{{conference.name}}</h2>
                <h5>{{conference.description}}</h5>
                <div>
                    <label for="registered">Registered/Open: </label>
                    <span id="registered">{{conference.maxAttendees - conference.seatsAvailable}} / {{conference.maxAttendees}}</span>
                </div>
                <div>
                    <label for="organizer">Organizer: </label>
                    <span id="organizer">{{conference.organizerDisplayName}}</span>
                </div>
                <p><a class="btn btn-primary" ng-hide="isUserAttending" ng-click="registerForConference()"
                        ng-disabled="loading">Register</a></p>
                <p><a class="btn btn-primary" ng-show="isUserAttending" ng-click="unregisterFromConference()"
                        ng-disabled="loading">Unregister</a></p>
            </div>

            <form class="form" novalidate role="form">
                <fieldset>
                    <div>
                        <label for="city">City: </label>
                        <span id="city">{{conference.city}}</span>
                    </div>
                    <div>
                        <label for="topics">Topics: </label>
                        <span id="topics">
                            <span ng-repeat="topic in conference.topics" class="label label-primary label-separated">{{topic}}</span>
                        </span>
                    </div>
                    <div>
                        <label for="startDate">Start Date: </label>
                        <span id="startDate">{{conference.startDate | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                    <div>
                        <label for="endDate">End Date: </label>
                        <span id="endDate">{{conference.endDate | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                </fieldset>
            </form>

            <p><a class="btn btn-default" ng-show="isOwner" href="#/conference/detail/{{conference.websafeKey}}/create_session">Add session</a>
            </p>

            <div class="form-group">
                <label for="typeOfSession">Session Type</label>
                <select id="typeOfSession" ng-model="typeOfSession" name="typeOfSession" 
                                ng-options="type for type in typeOfSessions"
                                ng-change="getSessionsByType()"
                        class="form-control">
                    <option value="">All</option>
                </select>
            </div>

            <div class="table-responsive" ng-show="sessions.length > 0">
                <table id="session-table" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>Duration</th>
                        <th>Speaker</th>
                        <th>Session Type</th>
                        <th>Location</th>
                        <th class="text-center">Wishlist</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="session in sessions">
                        <td>{{session.name}}</td>
                        <td>{{session.date | date:'dd-MMMM-yyyy'}}</td>
                        <td>{{session.startTime}}</td>
                        <td>{{session.duration}}</td>
                        <td><a href="#/speaker/detail/{{session.speakerId}}">{{session.speakerId}}</a></td>
                        <td>{{session.typeOfSession}}</td>
                        <td>{{session.location}}</td>
                        <td class="text-center">
                            <a ng-click="addToWishlist(session.websafeKey)" 
                                ng-hide="isInWishlist(session.websafeKey)"
                                href="#/conference/detail/{{conference.websafeKey}}">
                                Add to wishlist
                            </a>
                            <a ng-click="removeFromWishlist(session.websafeKey)"
                                ng-show="isInWishlist(session.websafeKey)"
                                href="#/conference/detail/{{conference.websafeKey}}" data-toggle="tooltip" title="Remove from wishlist">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
